* {
  font-family: "Segoe UI", sans-serif;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

.window {
  position: absolute;
  width: 200px;
}

.window-title {
  display: block;
  background-color: #252525;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  user-select: none;
}

.window-content {
  background-color: #404040;
  padding: 5px;
}

button {
  background-color: #252525;
  font-size: 16px;
  border-style: solid;
  border-color: #353535;
  padding: 0 3px 0 3px;
  margin: 3px;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #202020;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #252525;
}

td, th {
  border: 3px solid #404040;
  text-align: left;
  padding: 5px;
}

#truth-table-window {
  max-height: 600px;
}